ClientPS/Connected Services/TaskService/Task.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44301/Task.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PSContract" />
  <xs:element name="CreateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PSContract" minOccurs="0" name="task" nillable="true" type="q1:TaskApi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PSContract" minOccurs="0" name="task" nillable="true" type="q2:TaskApi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PSContract" minOccurs="0" name="GetTaskResult" nillable="true" type="q3:TaskApi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PSContract" minOccurs="0" name="GetAllTaskResult" nillable="true" type="q4:ArrayOfTaskApi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>