ClientPS/Connected Services/TaskService/TaskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:44301/Task.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:44301/Task.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44301/Task.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PSContract" />
      <xsd:import schemaLocation="http://localhost:44301/Task.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskService_CreateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTask" />
  </wsdl:message>
  <wsdl:message name="ITaskService_CreateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_UpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="ITaskService_UpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="ITaskService_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetAllTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTask" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetAllTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskService">
    <wsdl:operation name="CreateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/CreateTask" message="tns:ITaskService_CreateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/CreateTaskResponse" message="tns:ITaskService_CreateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/UpdateTask" message="tns:ITaskService_UpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/UpdateTaskResponse" message="tns:ITaskService_UpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/DeleteTask" message="tns:ITaskService_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/DeleteTaskResponse" message="tns:ITaskService_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetTask" message="tns:ITaskService_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetTaskResponse" message="tns:ITaskService_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetAllTask" message="tns:ITaskService_GetAllTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetAllTaskResponse" message="tns:ITaskService_GetAllTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TaskService" />
</wsdl:definitions>